@page
@model Sneaker_Store.Pages.KundeListe.EditKundeModel
@{
}

<h1>Ændre en kunde</h1>

<form method="post">
    <div class="form-group">
        <label>Kunde nummer</label> : @Model.NytKundeId<br />
        <input type="hidden" asp-for="NytKundeId" /><br />
        <label class="text text-danger">@Model.ErrorMessage</label><br />
        <br />

        <label>Kunde navn</label><br />
        <input class="form-control" asp-for="NytKundeNavn" /><br />
        <span asp-validation-for="NytKundeNavn" class="text-danger"></span><br />

        <label>Kunde efternavn</label><br />
        <input class="form-control" asp-for="NytKundeEfternavn" /><br />
        <span asp-validation-for="NytKundeEfternavn" class="text-danger"></span><br />

        <label>Kunde email</label><br />
        <input class="form-control" asp-for="NytKundeEmail" /><br />
        <span asp-validation-for="NytKundeEmail" class="text-danger"></span><br />

        <label>Kunde adresse</label><br />
        <input class="form-control" asp-for="NytAdresse" /><br />
        <span asp-validation-for="NytAdresse" class="text-danger"></span><br />

        <label>Kunde postnr</label><br />
        <input class="form-control" asp-for="NytPostnr" /><br />
        <span asp-validation-for="NytPostnr" class="text-danger"></span><br />

        <label>Kunde kode</label><br />
        <input class="form-control" asp-for="NytKode" /><br />
        <span asp-validation-for="NytKode" class="text-danger"></span><br />


        @if (Model.Error)
        {
            <input type="submit" value="Ændre Ny Kunde" class="btn btn-secondary" asp-page-handler="Change" disabled />
        }
        else
        {
            <input type="submit" value="Ændre Ny Kunde" class="btn btn-success" asp-page-handler="Change" />
        }
        <input type="submit" value="Fortryd" class="btn btn-danger" asp-page-handler="Cancel" />
    </div>
</form>
