@page
@model Sneaker_Store.Pages.common.KundeIndexModel
@{
}
<h1>Sko</h1>
<p>
    her kan du alle de alm ting - bare ikke administrator ting og sager...
</p>
<a asp-page="/common/skoindex" class="btn btn-primary">Gå til SkoIndex</a>

<a asp-page="../Index">Tilbage</a>

