@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (Model.LoggedInKunde != null)
    {
        <p class="welcome-message">Velkommen, @Model.LoggedInKunde.Navn @Model.LoggedInKunde.Efternavn</p>
    }
    else
    {
        <p class="login-message">Log ind for at komme videre</p>
    }
</div>

<div class="about-us-section">
    <h2>Om Os</h2>
    <p>Vi er en sneaker butik der sælger sko til unge. Vores mission er at levere de nyeste og mest trendy sneakers til vores kunder. Vi tror på, at sko er mere end bare fodtøj; de er en erklæring om stil og personlighed.</p>
    <p>Vores butik har et bredt udvalg af sneakers fra de mest populære mærker. Vi er stolte af at kunne tilbyde kvalitetsprodukter til konkurrencedygtige priser. Uanset om du er på udkig efter sportssko, løbesko, eller bare noget stilfuldt til hverdagen, har vi noget for enhver smag.</p>
    <div class="text-center">
        <img src="https://d2sw2hhlzkf9db.cloudfront.net/uploads/2024/02/3.-KICKGAME-1024x658.jpg" alt="Sneaker Store Image" class="centered-image">
    </div>
    <p>Vi stræber efter at give vores kunder en fremragende shoppingoplevelse, både online og i vores fysiske butikker. Vores kundeservice er altid klar til at hjælpe dig med eventuelle spørgsmål eller bekymringer, du måtte have.</p>
    <p>Besøg os i dag og oplev vores fantastiske udvalg af sneakers. Vi ser frem til at betjene dig!</p>
</div>

<style>
    .text-center {
        text-align: center;
        margin-top: 20px;
    }
    .welcome-message, .login-message {
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    .learn-more-link {
        color: #007bff;
    }
    .about-us-section {
        margin-top: 40px;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 5px;
        text-align: left;
    }
    .about-us-section h2 {
        margin-bottom: 20px;
    }
    .about-us-section p {
        margin-bottom: 15px;
        line-height: 1.6;
    }
    .centered-image {
        max-width: 100%;
        height: auto;
        margin: 20px auto;
        display: block;
    }
</style>
