@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (Model.LoggedInKunde != null)
    {
        <p class="welcome-message">Velkommen, @Model.LoggedInKunde.Navn @Model.LoggedInKunde.Efternavn</p>
    }
    else
    {
        <p class="login-message">Log ind for at få adgang til din info</p>
    }
    <p>Learn more about <a href="https://docs.microsoft.com/aspnet/core" class="learn-more-link">building Web apps with ASP.NET Core</a>.</p>
</div>