@page
@model LoginModel
@{
}
<h1>Login Side</h1>

<div class="text-center">
    <form method="post">
        Email: <input type="text" asp-for="Email" /><br />
        Kode: <input type="password" asp-for="Kode" /><br />
        <input type="submit" value="Login" class="btn btn-primary" /><br />
        <input type="button" value="Opret Bruger" class="btn btn-primary" onclick="location.href='@Url.Page("/IndexOpret/OpretIndex")'" /><br />
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div style="color:red;">
                @Model.ErrorMessage
            </div>
        }
    </form>
</div>
