@page
@model Sneaker_Store.Pages.LogoutModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Log ud</title>
</head>
<body>
<h1>Er du sikker på, at du vil logge ud?</h1>
<form method="post">
    <button type="submit">Log ud</button>
</form>
</body>
</html>